@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

body {
  background: linear-gradient(180deg, #023c76 0%, #0c69c7 100%);
  font-family: "Inter", sans-serif;
  height: 100vh;
  color: white;
}
.screen1 {
  background: url(./images/screen1-linebg.svg) no-repeat;
  background-size: cover;
  height: 100vh;
}
.page-title {
  font-weight: 400;
  font-size: 20px;
}

.fa-angle-left {
  font-size: 30px;
  /* padding: 10; */
}
.main-text {
  font-weight: 700;
  font-size: 39px;
  line-height: 47px;
}
.username {
  height: 55px;
  border-radius: 10px;
  border: 2px solid rgba(0, 34, 67, 0.411);
}

.continue-btn {
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.16);
  border-radius: 80px;
  width: 138px;
  height: 47px;
  background: white;
  font-weight: 500;
  font-size: 17px;
}
.screen2 {
  background: url(./images/screen2-linebg.svg) no-repeat;
  background-size: cover;
  height: 100vh;
}
.dynamic-card-text {
  position: fixed;
  margin-left: 17rem;
  margin-top: 8rem;
}
