@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
body {
  background: linear-gradient(180deg, #023c76 0%, #0c69c7 100%);
  font-family: "Inter", sans-serif;
  height: 100vh;
  color: white;
}

.screen1 {
  background: url(../images/screen1-linebg.svg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.page-title {
  font-weight: 400;
  font-size: 20px;
}

.fa-angle-left {
  font-size: 30px;
}

.main-text {
  font-weight: 700;
  font-size: 39px;
  line-height: 47px;
}

.inputbox {
  height: 55px;
  border-radius: 10px;
  border: 2px solid rgba(0, 34, 67, 0.411);
}

.continue-btn {
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.16);
  border-radius: 80px;
  width: 138px;
  height: 47px;
  background: white;
  font-weight: 500;
  font-size: 17px;
}

.screen2 {
  background: url(../images/screen2-linebg.svg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.dynamic-card-text {
  position: relative;
  top: 12rem;
  left: 59%;
}

/* Remove arrow from number input  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.screen3 {
  background: url(../images/screen3-linebg.svg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.money {
  margin-top: 8rem;
}

.money > div:nth-child(1) {
  color: #cce6ff;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
}

.money > div:nth-child(2) {
  font-weight: 800;
  font-size: 85px;
  text-align: center;
  line-height: 103px;
}

.proceed {
  box-shadow: 8px 13px 10px -6px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  background: white;
  width: 100%;
  height: 64px;
  font-size: 22px;
  font-weight: 700;
  color: #0858a9;
}

.info-msg {
  opacity: 0.8;
  font-size: 13px;
}

.bottom-pay {
  margin-top: 14rem;
}

.money-input {
  background: none;
  border: 0px;
  width: 100%;
  color: white;
  font-weight: 800;
}
.money-input:focus-visible {
  border: none;
  outline: none;
}
.money-input:focus {
  border: none;
  outline: none;
}

.screen4 {
  background: url(../images/screen4-linebg.svg) no-repeat;
  background-size: cover;
}

.ticket {
  background: url(../images/confirm-tic.png) center no-repeat;
  color: black;
}

.user-details {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
}
.user-details > div:nth-child(1) {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #515151;
}

.details {
  display: flex;
  padding-top: 32%;
  margin-left: 22%;
  padding-bottom: 37%;
  flex-direction: column;
}
.details > div:nth-child(1) {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.pay {
  background: #023c76;
  box-shadow: 8px 13px 10px -6px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  height: 64px;
  color: white;
  border: 0px;
  margin-right: 6.5rem;
  margin-top: 2rem;
  font-size: 22px;
  font-weight: 600;
}
.pay:hover {
  color: black;
  background: rgb(232, 249, 255);
  transition: 0.3s;
  border: 2px solid #023c76;
}/*# sourceMappingURL=style.css.map */